<%- include('osapohjat/header'); %>

<div class="vastaus">
    <table id="haku-vastaukset" class="haku-vastaukset">
        <tr>
            <tr>film_id</tr>
            <tr>title</tr>
            <tr>description</tr>
            <tr>release_year</tr>
            <tr>rating</tr>
        </tr>
    </table>
</div>

<%- include('osapohjat/footer'); %>

